@import '~@angular/material/theming';
@import "variables.scss";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-pbi-app-primary: (
    50 : #e6f7fc,
    100 : #bfecf8,
    200 : #95dff3,
    300 : #6bd2ee,
    400 : #4bc9ea,
    500 : #2bbfe6,
    600 : #26b9e3,
    700 : #20b1df,
    800 : #1aa9db,
    900 : #109bd5,
    A100 : #ffffff,
    A200 : #cff0ff,
    A400 : #9cdfff,
    A700 : #83d7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$pbi-app-primary: mat-palette($mat-pbi-app-primary);
$pbi-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pbi-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pbi-app-theme: mat-light-theme($pbi-app-primary, $pbi-app-accent, $pbi-app-warn);

.mat-ink-bar {
  height: 5px !important;
  width: 160px !important;
}

.mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background-color: rgba(255, 255, 255, 0.0);
  color: $contrast-primary;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-dialog-title {
  margin: -24px -24px 10px -24px !important;
  background-color: $contrast-primary;
  color: set-text-color-for-background($primary);
  padding: 10px;
}

.mat-button:hover .mat-button-focus-overlay {
  opacity: 0 !important;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pbi-app-theme);
